<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" 
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="bycar3.bycar" 
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="bycar3Entities"
			 connectionString="metadata=res://*/BycarEDMX.csdl|res://*/BycarEDMX.ssdl|res://*/BycarEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BASHLYKEVICH7\MSSQLDEV;Initial Catalog=drive;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="DriveEntities"
			 connectionString="metadata=res://*/DriveEDM.csdl|res://*/DriveEDM.ssdl|res://*/DriveEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BASHLYKEVICH7\MSSQLDEV;Initial Catalog=drive;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ExRatesSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://nbrb.by/Services/ExRates.asmx" binding="basicHttpBinding" bindingConfiguration="ExRatesSoap" contract="NbrbServiceReference.ExRatesSoap" name="ExRatesSoap" />
		</client>
	</system.serviceModel>
	<userSettings>
		<bycar3.bycar>
			<setting name="SelectedSpareID" serializeAs="String">
				<value>00000000-0000-0000-0000-000000000000</value>
			</setting>
			<setting name="SelectedGroupID" serializeAs="String">
				<value>00000000-0000-0000-0000-000000000000</value>
			</setting>
			<setting name="SearchText" serializeAs="String">
				<value />
			</setting>
			<setting name="SearchFieldIndex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="CurrentWorkspace" serializeAs="String">
				<value>0</value>
			</setting>
		</bycar3.bycar>
	</userSettings>
</configuration>