<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bycar3Entities"
		 connectionString="metadata=res://*/BycarEDMX.csdl|res://*/BycarEDMX.ssdl|res://*/BycarEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BASH7\DEVSERV;Initial Catalog=Drive-079;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DriveEntities"
		 connectionString="metadata=res://*/DriveEDM.csdl|res://*/DriveEDM.ssdl|res://*/DriveEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BASH7\DEVSERV;Initial Catalog=Drive-079;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>